
 
#clients { display: none; }
  
#pricing { display: none; }
     
#blog {  display: none; }

#social-media{ display: none; }
#join-team { display: none; }

#logo { display: none; }
#contact { display: none; }
#services { display: none; }
